.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
depcomp
doltcompile
doltlibtool
install-sh
libtool
ltmain.sh
missing
shave
shave-libtool
stamp-h1
cscope.*
benchmarks/intel_upload_blit_large
benchmarks/intel_upload_blit_large_gtt
benchmarks/intel_upload_blit_large_map
benchmarks/intel_upload_blit_small
tests/getclient
tests/getstats
tests/getversion
tests/gem_basic
tests/gem_flink
tests/gem_mmap
tests/gem_pread_after_blit
tests/gem_readwrite
tests/gem_tiled_blits
tools/intel_gpu_dump
tools/intel_gpu_top
tools/intel_stepping
