drm_vma_limiter
drm_vma_limiter_cached
drm_vma_limiter_cpu
drm_vma_limiter_gtt
gem_bad_address
gem_bad_batch
gem_bad_blit
gem_bad_length
gem_basic
gem_cs_prefetch
gem_double_irq_loop
gem_dummy_reloc_loop
gem_exec_bad_domains
gem_exec_blt
gem_exec_faulting_reloc
gem_exec_nop
gem_fenced_exec_thrash
gem_fence_thrash
gem_flink
gem_gtt_speed
gem_gtt_speed
gem_hang
gem_hangcheck_forcewake
gem_largeobject
gem_linear_blits
gem_mmap
gem_mmap_gtt
gem_partial_pwrite_pread
gem_pipe_control_store_loop
gem_pread_after_blit
gem_pwrite
gem_readwrite
gem_reloc_vs_gpu
gem_ringfill
gem_ring_sync_loop
gem_storedw_batches_loop
gem_storedw_loop_blt
gem_storedw_loop_bsd
gem_storedw_loop_render
gem_stress
gem_tiled_blits
gem_tiled_fence_blits
gem_tiled_pread
gem_tiled_pread_pwrite
gem_tiled_swapping
gem_unref_active_buffers
gem_vmap_blits
gen3_mixed_blits
gen3_render_linear_blits
gen3_render_mixed_blits
gen3_render_tiledx_blits
gen3_render_tiledy_blits
getclient
getstats
getversion
testdisplay
# Please keep sorted alphabetically
