/gtkdoc-check.log
/gtkdoc-check.trs
/html-build.stamp
/html.stamp
/html/
/igt_test_programs_*.xml
/intel-gpu-tools-decl-list.txt
/intel-gpu-tools-decl.txt
/intel-gpu-tools-overrides.txt
/intel-gpu-tools-sections.txt
/intel-gpu-tools-undeclared.txt
/intel-gpu-tools-undocumented.txt
/intel-gpu-tools-unused.txt
/intel-gpu-tools.args
/intel-gpu-tools.hierarchy
/intel-gpu-tools.interfaces
/intel-gpu-tools.prerequisites
/intel-gpu-tools.signals
/intel-gpu-tools.types
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/test-suite.log
/version.xml
/xml/

