# Please keep sorted alphabetically
hsw_compute_wrpll
igt_stats
intel_audio_dump
intel_backlight
intel_bios_dumper
intel_bios_reader
intel_display_crc
intel_display_poller
intel_dump_decode
intel_error_decode
intel_forcewaked
intel_framebuffer_dump
intel_firmware_decode
intel_gpu_frequency
intel_gpu_time
intel_gpu_top
intel_gtt
intel_infoframes
intel_iosf_sb_read
intel_iosf_sb_write
intel_l3_parity
intel_lid
intel_opregion_decode
intel_panel_fitter
intel_perf_counters
intel_reg
intel_reg_checker
intel_reg_dumper
intel_reg_read
intel_reg_snapshot
intel_reg_write
intel_stepping
intel_vga_read
intel_vga_write
intel_watermark
skl_compute_wrpll
skl_ddb_allocation
